
body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

html, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li, dl, dt, dd{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

img{
max-width: 100%;
width:0 auto;
height: auto;
}

.header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 161, 53);
}

.header ul{
    display: flex;
}

.top_btn ul li a {
    margin: 4px;
    padding: 5px;
    color: white;
}


/* 메인 메뉴 */

.menu {
    margin: 0 auto;
    box-shadow: 0px 1px 10px 0px rgb(202, 202, 202);
}

.menu > ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu > ul > li{
    padding: 20px;
    font-size: 18px;
}

.menu > ul > li:hover a{
    color: rgb(255, 161, 53);
    
}

/* 서브메뉴 */


.menu > ul > li > ul.submenu{
    position: absolute;
    z-index: 9;
    background-color: #fff;
    border: 2px solid rgb(255, 161, 53);
    padding: 10px;
    display: none;

}

.menu > ul > li:hover ul.submenu {
    display: block;
}

.menu > ul > li ul.submenu a {
    margin: 5px;
    padding: 20px;
    font-size: 18px;
    color: rgb(255, 161, 53);
    font-weight: 100;
}

/* 슬라이드 메인 배너 */
.swiper-container {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

/* 게시판 및 슬라이더 */
.bbs-box {overflow:hidden; max-width:1200px; margin:0 auto;}
.board-box {
    float: left;
    width: 50%;
}
.bbs-box .board-box > div {
    padding: 10px;
}

.right-banner {
    float: right;
    width: 50%;
}

.bbs-box .right-banner .r-slide {
    padding: 10px;
}

/* 게시판 */
.tap-menu ul{
    overflow: hidden;
    text-align: center;
}

.tap-menu ul li{
    float: left;
    width: 33.33%;
}

.tap-menu ul li a{
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff3eb;
    font-size: 18px;
}

.tap-menu ul li.on a{
    color: rgb(255, 161, 53);
    font-weight: bold;
    border-bottom: 1px solid rgb(255, 161, 53);
}

.tap-menu ul li :hover{
    color: rgb(255, 161, 53);
}

.tap-con ul li {
    overflow: hidden;
}
.tap-con ul li a {
    float: left;
    display: block;
    padding: 5px;
}

.tap-con ul li a ::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.tap-con ul li span{
    float: right;
    padding: 5px;
    font-size: 13px;
    color: #888;
}

/* 푸터 */
.footer{
    background-color: rgb(241, 159, 65);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.footer h1{
    font-size: 20px;
}

.footer p{
    font-size: 13px;
    line-height: 160%;
}

.footer span{
    font-size: 12px;
    color: rgb(255, 220, 180);
}

/* 로그인 */

.login-box{padding: 60px;}
.login-box h1{text-align: center; margin-bottom: 20px;}
.login-box .login {max-width: 400px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 25px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.616);}
.login-box .login li{margin: 20px;}
.login-box .login li input {width: 100%; height: 40px; padding: 5px; border: 1px solid #ccc; border-radius: 6px;}
.login-box .login li button{width: 100%; height: 40px; background-color: rgb(255, 161, 53); color: white; border: 0; border-radius: 25px; font-weight:550; font-size: 16px;}
.login-box .login li button:hover{background-color: white; color: rgb(255, 161, 53); border: 2px solid rgb(255, 161, 53);}
.login-box .login-btn {text-align: center; margin-top: 20px;}
.login-box .login-btn a {color: rgb(121, 121, 121);}

/* 회원가입 */

.join-box{padding: 50px;}
.join-box .join-form label{display: block;}
.join-box h1{text-align: center; margin-bottom: 20px;}

.join-box .join-form {max-width: 400px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 25px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.616);}

.join-box .join-form input[type="text"]{width: 100%; height: 30px; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}
.join-box .join-form input[type="password"]{width: 100%; height: 30px; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}
.join-box .join-form select{width:100%; height: 40px; border: 1px solid #ccc; padding: 5px; border-radius: 6px; font-size: 14px;}

.join-box .join-form ul li{margin: 20px;}
.join-box .join-form li label{font-size: 12px; color: #000; margin-bottom: 3px;}
.join-box .join-form ul li.gender span{display: inline-block;}
.join-box .join-form ul li.gender span label{display: inline-block;}
.join-box .join-form ul li.address span.zipcode input{width: 71%; border-radius: 6px 0 0 6px; vertical-align: middle;}
.join-box .join-form ul li.address span.zipcode button{width: 25%; height: 42px; background-color: rgb(255, 161, 53); color: white; border: 0; border-radius: 0 6px 6px 0;  font-weight: bold; vertical-align: middle;}
.join-box .join-form ul li.address span{margin-bottom: 5px; display: block;}

.join-box .join-btn {text-align: center; margin-top: 20px;}
.join-box .join-btn a {color: rgb(121, 121, 121); margin: 2px;}
.join-box .join-btn a.submit-btn{padding: 8px 80px; color: rgb(255, 161, 53); background-color: white; border: 0; border: 2px solid rgb(255, 161, 53); border-radius: 25px; font-weight:550; font-size: 16px;}
.join-box .join-btn a.submit-btn:hover{color: white; background-color: rgb(255, 161, 53); }



/* 게시판 */
.content{
    max-width: 1200px;
    margin: 0 auto;
}
.notice-box h1{
    text-align: center;
    margin-bottom: 10px;
    margin: 30px 0;
}

.serch-box {
    align-items: center;
    text-align: right;
    margin-bottom: 10px;
}
.serch-box input{
    border: 2px solid #ccc;
    height: 18px;
    vertical-align: middle;
}
.serch-box button {
    background-color: #fff;
    color: rgb(255, 161, 53);
    border: 2px solid rgb(255, 161, 53);
    font-weight: bold;
    vertical-align: middle;
}

.notice-table {background-color: #fff;}

.notice-table ul.table-hd{
    text-align: center;
    border-top: 2px solid #000;
}

.notice-table ul.table-bd{
    text-align: center;
}

.notice-table ul.table-bd .subject{
    text-align: left;
}

.notice-table ul li {
    display: table;
    width: 100%;
}

.notice-table ul li > div{
    display: table-cell;
    border-bottom: 1px solid rgb(121, 121, 121);
    padding: 10px;
}

.notice-table ul li > div.no {width: 10%;}
.notice-table ul li > div.subject {width: 50%;}
.notice-table ul li > div.subject a{font-weight: bold; font-size: 18px;}
.notice-table ul li > div.subject a:hover{text-decoration: underline; color: rgb(255, 161, 53);}
.notice-table ul li > div.name {width: 20%;}
.notice-table ul li > div.date {width: 20%;}



/* 페이지 */


.paging ul {text-align: center; margin: 10px;}
.paging ul li {display: inline-block; margin: 5px 0px;}
.paging ul li a{display: block; padding: 5px 10px; border: 2px solid rgb(255, 161, 53); background-color: #fff; color: rgb(32, 22, 11);}
.paging ul li.on a{background-color: rgb(255, 161, 53); color: #fff; border: 2px solid rgb(255, 161, 53);} 


.bbs-btn-box{
    text-align: right;
    margin: 40px 10px;
}

.bbs-btn-box a{
    display: inline-block;
    background-color: rgb(255, 161, 53);
    color: white;
    padding: 5px 10px;
}

/* 게시판 작성 */

.write-form {
    max-width: 1200px; margin: 0 auto; border-radius: 25px; box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.616); padding: 30px;}

.write-form ul li{margin: 10px;}
.write-form ul li label{margin-bottom: 12px; font-size: 16px; vertical-align: middle;}
.write-form ul li input[type="text"]{width: 100%; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}
.write-form ul li input[type="file"]{width: 100%;}
.write-form textarea{width: 100%; border: 1px solid #ccc; height: 120px; vertical-align: middle;}
.write-form ul li input.write-con{height: 150px;}

.check{text-align: right;}

.check-notice{color: rgb(139, 139, 139);}

input[id="check-notice"]:checked + label {
    
    color: rgb(0, 0, 0)
}

input[id="check-notice"] {
    position: relative;
    top: 1.5px;
  }

  /*view */

.view h2{margin-bottom: 10px;}
.view > span{display: inline-block; padding-bottom: 10px;}
.view .view-con{border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px; background-color: #fff;}
.view .file-down a{display: block; margin: 5px; padding: 5px; background-color: rgba(255, 249, 231, 0.349);}

.bbs-btn-box a.list{background-color: white; color: rgb(255, 161, 53); border: 2px solid rgb(255, 161, 53);}
.bbs-btn-box a.del{background-color: 255, 161, 53; border: 2px solid rgb(255, 161, 53)}
.bbs-btn-box a.mod{background-color: 255, 161, 53; border: 2px solid rgb(255, 161, 53)}