
body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

html, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li, dl, dt, dd{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

img{
max-width: 100%;
width:0 auto;
height: auto;
}

.header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 161, 53);
}

.header .logo{margin-left: 4px;}

.header ul{
    display: flex;
}

.top_btn ul li a {
    margin: 4px;
    padding: 5px;
    color: white;
}


/* 메인 메뉴 */

.menu {
    margin: 0 auto;
    box-shadow: 0px 1px 10px 0px rgb(202, 202, 202);
}

.menu > ul {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.menu > ul > li{
    padding: 20px;
    font-size: 18px;
}

.menu > ul > li:hover a{
    color: rgb(255, 161, 53);
    
}

/* 서브메뉴 */


.menu > ul > li > ul.submenu{
    position: absolute;
    display: none;
    z-index: 9;
    background-color: #fff;
    border: 3px solid rgb(255, 161, 53);
    padding: 10px;
}

.menu > ul > li:hover ul.submenu {
    display: block;
}

.menu > ul > li ul.submenu a {
    margin: 5px;
    padding: 20px;
    font-size: 18px;
    color: rgb(50, 50, 50);
    font-weight: 100;
}

.menu > ul > li ul.submenu a:hover {
    color: rgb(255, 161, 53);
}


/* 팝업 popup */
.popup-box{position: absolute; z-index: 9999; background: #fff; top: 190px; left: 30px; box-shadow: 0px 1px 10px 0px rgb(109, 109, 109);}
.popup-box img{max-width: 500px;}
.popup-box > div > ul > li:nth-child(1) > label{font-size: 18px; padding: 3px; vertical-align: middle;}
.popup-box .popup-btn ul{display: flex; justify-content: space-between; width: 100%; vertical-align: middle;}
.popup-box .popup-btn ul a{font-size: 20px; ; color: #ff4c4c; margin-right: 3px; padding: 3px;}


/* 슬라이드 메인 배너 */
.swiper-container {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

/* 게시판 및 슬라이더 */
.bbs-box {display: flex; overflow:hidden; max-width:1200px; margin:0 auto;}

/* 탭메뉴 */
.bbs-box .board-box {
    width: 48%;
    margin: 5px;
    box-shadow: 0px 1px 10px 0px rgb(202, 202, 202);
}


/* 탭메뉴 */
.tap-menu ul{
    overflow: hidden;
    text-align: center;
    margin: 10px;
}

.tap-menu ul li{
    float: left;
    width: 33.33%;
}

.tap-menu ul li a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
    font-size: 18px;
}

.tap-menu ul li.on a{
    color: rgb(255, 161, 53);
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 161, 53);
}

.tap-menu ul li :hover{
    color: rgb(255, 161, 53);
}

/* tap - content */
.tap-con{
    padding: 10px;
}

.tap-con ul li {
    padding: 0px 25px;
    overflow: hidden;
}
.tap-con ul li a {
    float: left;
    display: block;
}

.tap-con ul li a:hover{text-decoration: underline; color: rgb(50, 50, 50); font-weight: bold;}

.tap-con ul li a::before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: rgb(245, 168, 81);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.tap-con ul li span{
    float: right;
    padding: 4px;
    font-size: 16px;
    color: #888;
}


.bbs-box .right-banner {width: 50%; }

.bbs-box .right-banner .swiper-slide img{width: 100%; height: 500px;}



/* 푸터 */
.footer{
    background-color: rgb(241, 159, 65);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
}

.footer h1{
    font-size: 20px;
}

.footer p{
    font-size: 13px;
    line-height: 160%;
}

.footer span{
    font-size: 12px;
    color: rgb(255, 220, 180);
}

/* 로그인 */

.login-box{padding: 60px;}
.login-box h1{text-align: center; margin-bottom: 20px;}
.login-box .login {max-width: 400px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 25px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.616);}
.login-box .login li{margin: 20px;}
.login-box .login li input {width: 100%; height: 40px; padding: 5px; border: 1px solid #ccc; border-radius: 6px;}
.login-box .login li button{width: 100%; height: 40px; background-color: rgb(255, 161, 53); color: white; border: 0; border-radius: 25px; font-weight:550; font-size: 16px;}
.login-box .login li button:hover{background-color: white; color: rgb(255, 161, 53); border: 2px solid rgb(255, 161, 53);}
.login-box .login-btn {text-align: center; margin-top: 20px;}
.login-box .login-btn a {color: rgb(121, 121, 121);}

/* 회원가입 */

.join-box{padding: 50px;}
.join-box .join-form label{display: block;}
.join-box h1{text-align: center; margin-bottom: 20px;}

.join-box .join-form {max-width: 600px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 25px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.616);}

.join-box .join-form input[type="text"]{width: 100%; height: 30px; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}
.join-box .join-form input[type="password"]{width: 100%; height: 30px; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}
.join-box .join-form select{width:100%; height: 40px; border: 1px solid #ccc; padding: 5px; border-radius: 6px; font-size: 14px;}

.join-box .join-form ul li{margin: 20px;}
.join-box .join-form li label{font-size: 12px; color: rgb(50, 50, 50); margin-bottom: 3px;}
.join-box .join-form ul li.gender span{display: inline-block;}
.join-box .join-form ul li.gender span label{display: inline-block;}
.join-box .join-form ul li.address span.zipcode input{width: 71%; border-radius: 6px 0 0 6px; vertical-align: middle;}
.join-box .join-form ul li.address span.zipcode button{width: 25%; height: 42px; background-color: rgb(255, 161, 53); color: white; border: 0; border-radius: 0 6px 6px 0;  font-weight: bold; vertical-align: middle;}
.join-box .join-form ul li.address span{margin-bottom: 5px; display: block;}

.join-box .join-btn {text-align: center; margin-top: 20px;}
.join-box .join-btn a {color: rgb(121, 121, 121); margin: 2px;}
.join-box .join-btn a.submit-btn{padding: 8px 80px; color: rgb(255, 161, 53); background-color: white; border: 0; border: 2px solid rgb(255, 161, 53); border-radius: 25px; font-weight:550; font-size: 16px;}
.join-box .join-btn a.submit-btn:hover{color: white; background-color: rgb(255, 161, 53); }



/* 게시판 */
.content{
    max-width: 1200px;
    margin: 0 auto;
}
.notice-box h1{
    text-align: center;
    margin-bottom: 10px;
    margin: 60px 0;
}

.serch-box {
    align-items: center;
    text-align: right;
    margin-bottom: 15px;
}
.serch-box input{
    border: 1.5px solid rgb(255, 161, 53);
    height: 24px;
    vertical-align: middle;
}
.serch-box button {
    background-color: #fff;
    color: rgb(255, 161, 53);
    border: 1.5px solid rgb(255, 161, 53);
    font-weight: bold;
    vertical-align: middle;
    font-size: 16px;
    padding: 3px 8px;
}

.notice-table {background-color: #fff;}

.notice-table ul.table-hd{
    text-align: center;
    border-top: 2px solid rgb(255, 161, 53);
}

.notice-table ul.table-bd{
    text-align: center;
}

.notice-table ul.table-bd .subject{
    text-align: left;
}

.notice-table ul li {
    display: table;
    width: 100%;
}

.notice-table ul li > div{
    display: table-cell;
    border-bottom: 1px solid rgb(241, 185, 121);
    padding: 10px;
}

.notice-table ul li > div.no {width: 10%;}
.notice-table ul li > div.subject {width: 50%;}
.notice-table ul li > div.subject a{font-weight: bold; font-size: 18px;}
.notice-table ul li > div.subject a:hover{text-decoration: underline; color: rgb(255, 161, 53);}
.notice-table ul li > div.name {width: 20%;}
.notice-table ul li > div.date {width: 20%;}



/* 페이지 */


.paging ul {text-align: center; margin: 20px; margin-bottom: 30px;}
.paging ul li {display: inline-block; margin: 5px 0px;}
.paging ul li a{display: block; padding: 5px 10px; border: 1.5px solid rgb(255, 161, 53); background-color: #fff; color: rgb(32, 22, 11);}
.paging ul li.on a{background-color: rgb(255, 161, 53); color: #fff; border: 1.5px solid rgb(255, 161, 53);} 


.bbs-btn-box{
    text-align: right;
    margin: 40px 10px;
}

.bbs-btn-box a{
    display: inline-block;
    background-color: rgb(255, 161, 53);
    color: #fff;
    padding: 5px 10px;
    border: 1.5px solid rgb(255, 161, 53);
}

.bbs-btn-box .back{
    background-color: #fff;
    color: rgb(255, 161, 53);
    border: 1.5px solid rgb(255, 161, 53);
}
/* 게시판 작성 */

.write-form {
    max-width: 800px; margin: 0 auto; border-radius: 25px; box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.616); padding: 30px;}

.write-form ul li{margin: 10px;}
.write-form ul li label{margin-bottom: 12px; font-size: 16px; vertical-align: middle;}
.write-form ul li input[type="text"]{width: 100%; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}
.write-form ul li input[type="file"]{width: 100%;}
.write-form textarea{width: 100%; border: 1px solid #ccc; height: 120px; vertical-align: middle;}
.write-form ul li input.write-con{height: 150px;}

.check{text-align: right;}

.check-notice{color: rgb(139, 139, 139);}

input[id="check-notice"]:checked + label {
    
    color: rgb(50, 50, 50)
}

input[id="check-notice"] {
    position: relative;
    top: 1.5px;
  }

  /*view */

.view h2{margin-bottom: 10px;}
.view > span{display: inline-block; padding-bottom: 10px;}
.view .view-con{border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px; background-color: #fff;}
.view .file-down a{display: block; margin: 5px; padding: 5px; background-color: rgba(255, 249, 231, 0.349);}

.bbs-btn-box a.list{background-color: white; color: rgb(255, 161, 53); border: 2px solid rgb(255, 161, 53);}
.bbs-btn-box a.del{background-color: 255, 161, 53; border: 2px solid rgb(255, 161, 53)}
.bbs-btn-box a.mod{background-color: 255, 161, 53; border: 2px solid rgb(255, 161, 53)}

/*갤러리 */

.gallery-table > ul {overflow: hidden; display: flex; flex-wrap: wrap}
.gallery-table > ul > li {width: 25%; margin-bottom: 20px;}
.gallery-table > ul > li > div {padding: 10px;}
.gallery-table .thum{height: 300px; overflow: hidden; padding-bottom: 0px; box-shadow: 0px 1px 10px 2px rgb(233, 233, 233); margin: 8px;}
.gallery-table .thum img{height: 300px;}
.gallery-table .info{text-align: center;}
.gallery-table .info a{display: block; font-size: 15px;}
.gallery-table .info span {color: #888; }
.gallery-table .table-bd li:hover .info a{font-weight: bold; text-decoration: underline; color: rgb(255, 161, 53); }

/* 장소예약 */


.booking-table > ul > li {margin-bottom: 20px; display: flex; background-color: #fff; box-shadow: 0px 1px 10px 2px rgb(233, 233, 233);}
.booking-table > ul > li > div {padding: 10px;}

.booking-table .thum{text-align: center; width: 15%;}
.booking-table .thum a{padding: 5px; max-height: 220px; overflow: hidden;}
.booking-table .thum img{max-height: 220px; border: 1px solid #ccc;}

.booking-table .info{width: 85%;}
.booking-table .info a{font-size: 17px;}
.booking-table .info p{font-size: 15px;}
.booking-table .info span {color: #888; }
.booking-table .table-bd li:hover .info a{font-weight: bold; text-decoration: underline; color: rgb(255, 161, 53); font-weight: bold;}


/* 장소예약 상세 뷰 */

.booking-view{margin-bottom: 30px;}
.booking-view .photo-box > div {padding: 20px;}
.booking-view .photo-box {overflow:hidden; display: flex;}

.booking-view .photo-box .view-banner {width: 45%; padding: 5px; height: 400px;}
.booking-view .photo-box .calendar {width: 55%; padding: 5px; height: 400px;}

.cal-box ul {overflow: hidden; padding: 5px;}
.cal-box ul li{float: left; width: 14.28%; text-align: center;}

.cal-box ul li:first-child a span{color: #ff4c4c;}
.cal-box ul li:last-child a span{color: #13b2f7;}


.cal-box ul li a{display: block; padding: 3px 5px; margin-bottom: 8px;}
.cal-box ul li span.off{color: #aaa;}
.cal-box ul li a span.today{color: #fff; background-color:rgb(255, 161, 53); padding: 8px;}
.cal-box ul li a span.selected{color: #fff; background-color: rgb(50, 50, 50);; padding: 5px;}
.cal-box ul li a span:hover{color: #fff; background: rgb(50, 50, 50);; padding: 8px;}

.calendar .cal-hd {text-align: center; margin: 30px;}
.calendar .cal-hd span {padding: 10px;}
.calendar .cal-hd .month{margin: 12px; font-size: 24px; font-weight: bold;}
.calendar .cal-box{}



/* 예약 버튼 */

.view-btn{text-align: right; padding: 5px; margin-bottom: 7px;}
.view-btn a{display: inline-block; padding: 5px 10px; background:#fff; color: rgb(255, 161, 53); border: 2px solid rgb(255, 161, 53);}
.view-btn a:hover{background-color: rgb(255, 161, 53);color: #fff;}

.view-detail{background: rgba(252, 252, 252, 0.699); border: 1px solid #ccc; height: 250px; padding: 15px;}

/* 마이페이지 */
.mypage-table {background-color: #fff;}

.mypage-table ul.table-hd{
    text-align: center;
    border-top: 2px solid rgb(255, 161, 53);;
}

.mypage-table ul.table-bd{
    text-align: center;
}

.mypage-table ul.table-bd .subject{
    text-align: left;
}

.mypage-table ul li {
    display: table;
    width: 100%;
}

.mypage-table ul li > div{
    display: table-cell;
    border-bottom: 1px solid rgb(241, 185, 121);
    padding: 10px;
}

.mypage-table ul li > div.no {width: 10%;}
.mypage-table ul li > div.location {width: 30%;}
.table-bd .location {text-align: left;}
.mypage-table ul li > div.location a{font-weight: bold; font-size: 18px;}
.mypage-table ul li > div.location a:hover{text-decoration: underline; color: rgb(255, 161, 53);}
.mypage-table ul li > div.status {width: 20%;}
.mypage-table ul li > div.booking-date {width: 20%;}
.mypage-table ul li > div.date {width: 20%;}

.mypage-table ul li >div.status_dismiss{color: #ff4c4c; text-decoration: line-through;}
.mypage-table ul li >div.status_ok{color: #13b2f7;}
.mypage-table ul li >div.status_waiting{color: rgb(255, 161, 53);}


/* admin - 메뉴 */
.adm-menu{box-shadow: 0px 1px 10px 0px rgb(202, 202, 202); padding: 15px;}
.adm-menu ul{text-align: center;}
.adm-menu ul li{display: inline-block; margin: 5px;}
.adm-menu ul li:before{content: ""; display: inline-block; width: 1px; height: 10px; background: rgb(50, 50, 50); margin-right: 15px;}
.adm-menu ul li:last-child:after{content: ""; display: inline-block; width: 1px; height: 10px; background: rgb(50, 50, 50); margin-left: 15px;}
/* .adm-menu ul li:first-child:after{content: ""; display: none; } */

.adm-menu ul li a{display: inline-block; padding: 5px 10px; background: #fff; color: rgb(50, 50, 50);}
.adm-menu ul li a:hover{color: rgb(255, 161, 53); font-weight: bold;}
.adm-menu ul li.on a{color: rgb(255, 161, 53); font-weight: bold;}



/* admin - 환경설정 */

.admin-set{padding: 50px;}
.admin-set .join-form label{display: block;}
.admin-set h1{text-align: center; margin-bottom: 20px;}

.admin-set .join-form {max-width: 600px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 25px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.616);}
.admin-set .join-form input{width: 100%; height: 30px; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}

.admin-set .join-form ul li{margin: 20px;}
.admin-set .join-form li label{font-size: 12px; color: rgb(50, 50, 50); margin-bottom: 3px;}
.admin-set .join-form ul li.address span.zipcode input{width: 71%; border-radius: 6px 0 0 6px; vertical-align: middle;}
.admin-set .join-form ul li.address span.zipcode button{width: 25%; height: 42px; background-color: rgb(255, 161, 53); color: white; border: 0; border-radius: 0 6px 6px 0;  font-weight: bold; vertical-align: middle;}
.admin-set .join-form ul li.address span{margin-bottom: 5px; display: block;}

.admin-set .save-btn {text-align: center; margin-top: 40px;}
.admin-set .save-btn a {padding: 8px 80px; color: rgb(255, 161, 53); background-color: white; border: 0; border: 2px solid rgb(255, 161, 53); border-radius: 25px; font-weight:550; font-size: 16px;}
.admin-set .save-btn a:hover{color: white; background-color: rgb(255, 161, 53); }


/* admin - borad */ 

.amd-content{
    max-width: 1200px;
    margin: 0 auto;
}
.amd-borad-box h1{
    text-align: center;
    margin-bottom: 10px;
    margin: 60px 0;
}

.mypage-table ul li > div.no {width: 10%;}
.mypage-table ul li > div.board_name {width: 30%;}
.mypage-table ul li > div.board_name a{font-weight: bold; font-size: 18px;}
.mypage-table ul li > div.board_name a:hover{text-decoration: underline; color: rgb(255, 161, 53);}
.mypage-table ul li > div.board_type {width: 20%;}
.mypage-table ul li > div.date {width: 20%;}
.mypage-table ul li > div.manage {width: 20%;}
.mypage-table ul li > div.manage div {display: inline; text-decoration: underline; margin: 0px 5px;}
.mypage-table ul li > div.manage a:hover {display: inline;color: rgb(255, 161, 53);}

.write-form > ul > li > select{width:60%; height: 40px; border: 1px solid #ccc; padding: 5px; border-radius: 6px; font-size: 16px;}


/* admin - member */
.mypage-table ul li > div.no {width: 5%;}
.mypage-table ul li > div.member_name {width: 10%;}
.mypage-table ul li > div.member_name a{font-weight: bold; font-size: 18px;}
.mypage-table ul li > div.phone {width: 10%;}
.mypage-table ul li > div.birth {width: 10%;}
.mypage-table ul li > div.add {width: 20%;}
.mypage-table ul li > div.date {width: 10%;}
.mypage-table ul li > div.manage {width: 10%;}


/* admin - popup */

.mypage-table ul li > div.no {width: 5%;}
.mypage-table ul li > div.popup_name {width: 10%;}
.mypage-table ul li > div.popup_name a{font-weight: bold; font-size: 18px;}
.mypage-table ul li > div.duration {width: 10%;}
.mypage-table ul li > div.use {width: 10%;}
.mypage-table ul li > div.date {width: 10%;}
.mypage-table ul li > div.manage {width: 10%;}

/* popup reg */
.write-form ul li{margin-bottom: 20px;}
.write-form input[type="text"]{width: 100%; height: 30px; border: 1px solid #ccc; padding: 5px; border-radius: 6px;}
.write-form ul > li > .duration{display: flex;}
.write-form ul > li > .duration input{ width: 30%; margin: 5px;}


/* admin - banner */
.mypage-table ul li > div.no {width: 10%;}
.mypage-table ul li > div.banner_position {width: 10%;}
.mypage-table ul li > div.banner_name {width: 20%; font-size: 18px;}
.mypage-table ul.table-bd .banner_name {font-weight: bold;}
.mypage-table ul li > div.duration {width: 30%;}
.mypage-table ul li > div.use {width: 10%;}
.mypage-table ul li > div.date {width: 10%;}
.mypage-table ul li > div.manage {width: 10%;}


/* banner reg */ 

.write-form > ul > li > select{width:60%; height: 40px; border: 1px solid #ccc; padding: 5px; border-radius: 6px; font-size: 16px;}


/* admin - booking */ 
.mypage-table ul li > div.no {width: 5%;}
.mypage-table ul li > div.booking_location {width: 15%; font-size: 18px;}
.mypage-table ul.table-bd .booking_location {font-weight: bold;}
.mypage-table ul li > div.booking_detail {width: 40%;}
.mypage-table ul li > div.use {width: 10%;}
.mypage-table ul li > div.date {width: 10%;}
.mypage-table ul li > div.manage {width: 10%;}
