body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

html, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li, dl, dt, dd{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

.header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 161, 53);
}



.header ul{
    display: flex;
}

.top_btn ul li a {
    margin: 4px;
    padding: 5px;
    color: white;
}


/* 메뉴 */

.menu ul {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

/* 배너 */

.banner {
    border: 1px solid #ccc;
    height: 180px;
}


.bbs-box{
    display: flex;
}

.bbs-box .left_box {
    border: 1px solid red;
    height: 80px;
}

.bbs-box .right_box {
    border: 1px solid red;
    height: 80px;
}